# Node modules
/backend/node_modules/
/frontend/noed_modules/

# Environment variables
/backend/.env

# Prisma migrations
/backend/prisma/migrations/

# Sessions
/backend/sessions/

#Rest Client
/backend/http/

# Logs
*.log