.cardGroup {
  list-style-type: none;
  gap: 20px;
}

.cardGroupItem {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  break-inside: avoid;
  margin-bottom: 20px;
  border: 1px solid #b8b8b8;
  border-radius: 6px;
  padding: 15px;
  gap: 10px;
  width: 375px;
}


.cardGroupItem-info {
  display: flex;
  gap: 20px;
}

.cardGroupItem-status {
  display: flex;
  gap: 10px;
}

@media (min-width: 950px) {
  .cardGroup {
    column-count: 3;
  }
}

@media (min-width: 1250px) {
  .cardGroup {
    column-count: 4;
  }
}
