.loadMoreButton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #282828;
  border-radius: 6px;
  background-color: #fff;
  width: 1680px;
  height: 60px;
  margin-left: 40px;
}

.loadMoreButtonContainer {
  color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadMoreButton:hover {
  background-color: #e4e4e4;
}
