.Reply {
  margin: 0 200px;
  display: flex;
  flex-direction: column;
}

.ReplyInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ReplyHeader {
  display: flex;
  gap: 10px;
}

.ReplyDate {
  color: #b8b8b8;
}

.ReplyEdit {
  background-color: #fff;
  border: none;
}
.ReplyEdit:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.ReplyDelete {
  background-color: #fff;
  border: none;
}
.ReplyDelete:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
