.cardGroupPage {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.sortBar {
  position: relative;
  margin-left: 100px;
  margin-right: 100px;
  top: 80px;
  display: grid;
  gap: 50px;
  grid-template-columns: 1fr 8fr 1fr;
  justify-content: center;
  align-items: center;
}

.cardGroupList {
  display: flex;
  justify-content: center;
}
