.CardMemoryInfo {
  margin-top: 70px;
}

.MemoryEdit {
  display: flex;
  gap: 30px;
}

.MemoryUpdate {
  font-size: 16px;
  background-color: #fff;
  color: #8d8d8d;
  border: none;
}

.MemoryUpdate:hover {
  color: #282828;
}

.MemoryDelete {
  font-size: 16px;
  background-color: #fff;
  color: #8d8d8d;
  border: none;
}

.MemoryDelete:hover {
  color: #282828;
}

.likeButton {
  background-color: #fff;
  border: none;
  transition: all 0.2s ease;
}

.likeButton:hover {
  background-color: #fff;
  width: 195px;
  height: 55px;
  border-radius: 6px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.MemoryButtons {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.MemoryHeader {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 200px;
}

.MainContents {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.MainContents img {
  position: relative;
  margin: 50px auto;
  width: 700px;
  height: auto;
  display: block;
}

.ContentMemory {
  font-size: 20px;
  line-height: 1.6;
  position: relative;
  margin: 30px 20%;
}

.ReplyButton {
  position: relative;
  margin: 80px auto;
  display: block;
  background-color: #fff;
  border: none;
  transition: all 0.2s ease;
}

.ReplyButton:hover {
  background-color: #fff;
  padding: 0;
  border-radius: 9px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.ReplyCount {
  margin-left: 200px;
}

.ReplyContent {
  display: flex;
  justify-content: space-between;
}

.ReplyControl {
  margin-right: 200px;
}

.ReplyEdit {
  background-color: #fff;
  border: none;
  margin-bottom: 15px;
}
.ReplyEdit:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.ReplyDelete {
  background-color: #fff;
  border: none;
}
.ReplyDelete:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
